  <div class="row">
    <div class="col">
      <input [(ngModel)]="sol" placeholder="SOL (number between approx 1-30000)">
      <select id="inputState" [(ngModel)]="cam" >
        <option>FHAZ</option>
        <option>RHAZ</option>
        <option>MAST</option>
        <option>CHEMCAM</option>
        <option>MAHLI</option>
        <option>MARDI</option>
        <option>NAVCAM</option>
        <option>PANCAM</option>
        <option>MINITES</option>
      </select>
    </div>
  </div>
  <button class="btn-primary" (click)="onUpdate()">search</button>

<div class="row">
  <div *ngFor="let photo of searchResult.photos">
    <div class="d-flex card-padding">
      <div class="card" style="width: 18rem;">
        <img [src]="photo.imgSrc" class="img-small">
      </div>
    </div>
  </div>
</div>


