/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/background.jpg");
}
.container-fluid {
  padding-left:10px;
}
.card-body {
  background-color: antiquewhite;
  /*border-radius:15px;*/
  padding:inherit;
}

.card-padding {
  padding-top: 10px;
  padding-left: 10px;
}

.card {
  /*border-radius:15px;*/
}

.img-small {
  height: 320px;
  object-fit: cover;
  /*border-radius: 15px;*/
}


